<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><div align="center"><a href="/view_rate__info">rate info</a></div></td>
    </tr>
    <tr>
      <td height="29"><div align="center"><a href="/view_gallery">Add gallery</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/turf_View_Facility">Manage facility</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/View_booking">View booking and update status</a></div></td>
    </tr>
      <tr>
      <td><div align="center"><a href="/view_camp_details">Manage camp details</a></div></td>
    </tr>
       <tr>
      <td><div align="center"><a href="/view_camp_request_and_verify">View camp request and update status</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/logout">LOGOUT</a></div></td>

    </tr>
  </table>
  <label></label>
</form>
</body>
</html>
