<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/reg">
  <table  border="1">
    <tr>
      <th scope="row">NAME</th>
      <td><input type="text" name="name" /></td>
    </tr>
    <tr>
      <th scope="row">PLACE</th>
      <td><input type="text" name="place" /></td>
    </tr>
    <tr>
      <th scope="row">POST</th>
      <td><input type="text" name="post" /></td>
    </tr>
    <tr>
      <th scope="row">PIN</th>
      <td><input type="text" name="pin" /></td>
    </tr>
    <tr>
      <th scope="row">EMAIL</th>
      <td><input type="text" name="email" /></td>
    </tr>
    <tr>
      <th scope="row">PHONE</th>
      <td><input type="text" name="phone" /></td>
    </tr>
    <tr>
      <th scope="row">LATITUDE</th>
      <td><input type="text" name="lati" /></td>
    </tr>
    <tr>
      <th scope="row">LONGITUDE</th>
      <td><input type="text" name="longi" /></td>
    </tr>
    <tr>
      <th scope="row">USERNAME</th>
      <td><input type="text" name="uname" /></td>
    </tr>
    <tr>
      <th scope="row">PASSWORD</th>
      <td><input type="text" name="pswd" /></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="Submit" value="SIGNUP" /></th>
    </tr>
  </table>
</form>
</body>
</html>
